/** Colors */

$off-white: hsl(60, 50, 99);
$light-gray-blue: hsl(210, 85, 90);
$light-blue: hsl(210, 100, 70);
$mid-blue: hsl(210, 100, 50);
$dark-blue: hsl(210, 100, 30);
$dark-gray-blue: hsl(210, 50, 35);