/** Components */

@import "unsemantic/unsemantic-vars";
@include unsemantic-grid-placeholders;

@import "colors";
@import "helpers";


// Circley menu
.circley-menu li {
	margin-bottom: padding(1);

	a {
		display: block;
		position: relative;

		&:before {
			content: "";
			background: {
				repeat: no-repeat;
				size: 65%;
				position: center;
				color: $light-gray-blue;
			}
			border-radius: 50%;
		}

		&.journal:before {
			background-image: url(../images/journal-icon.png);
		}

		&.pastime:before {
			background-image: url(../images/pastime-icon.png);
		}

		&.portfolio:before {
			background-image: url(../images/portfolio-icon.png);
		}

		&.about:before {
			background-image: url(../images/about-icon.png);
		}
	}
}

// Cute footer
.cute-footer {
	position: relative;
	width: 100%;
	background: {
		image: url(../images/copyright.png);
		repeat: no-repeat;
		size: contain;
	}

	&:before {
		content: '';
		display: block;
		padding-bottom: 93 / 420 * 100%;
	}

	span {
		position: absolute;
		left: 35%;
		top: 10%;
	}
}