/** Components */

@import "colors";
@import "helpers";


.pagination {
	padding-top: padding(1);
	@include clearfix;

	li {
		display: block;
		float: left;

		&.previous {
			padding-right: padding(0.5);
		}
	}

	.previous:not(:empty) + .future:not(:empty) {
		padding-left: padding(0.5);
		border-left: 1px solid #000;
	}
}

// Circley menu
.circley-menu {
	@include pad();
	@include clearfix;

	li {
		margin-bottom: padding(1);

		a {
			display: block;
			position: relative;

			i {
			}

			&.journal {
				@include circley-icon(1);
			}

			&.pastime {
				@include circley-icon(3);
			}

			&.portfolio {
				@include circley-icon(2);
			}

			&.about {
				@include circley-icon(4);
			}
		}
	}
}

@mixin external-links-icon($icon-size: 32px) {
	a {
		span {
			@include offscreen;
		}

		&.fb {
			@include external-link-icon(1, $icon-size);
		}

		&.flickr {
			@include external-link-icon(2, $icon-size);
		}

		&.twitter {
			@include external-link-icon(3, $icon-size);
		}

		&.github {
			@include external-link-icon(4, $icon-size);
		}

		&.pinterest {
			@include external-link-icon(5, $icon-size);
		}

		&.instagram {
			@include external-link-icon(6, $icon-size);
		}
	}
}

// Cute footer
.cute-footer {
	position: relative;
	width: 100%;
	background: {
		image: url(../images/copyright.png);
		repeat: no-repeat;
		size: contain;
	}

	&:before {
		content: '';
		display: block;
		padding-bottom: 93 / 420 * 100%;
	}

	span {
		position: absolute;
		left: 35%;
		top: 10%;
	}
}

.mobile .circley-menu {
	li {
		text-align: left;

		a {
			i {
				@include fluid-square(25%, inline-block);
				vertical-align: middle;
			}

			span {
				@include font-size(1.5);
				display: inline-block;
				vertical-align: middle;
				margin-left: padding(0.5);
				text-decoration: underline;
			}
		}
	}

}