/** Components */

@import "colors";
@import "helpers";


.pagination {
	padding-top: padding(1);
	@include clearfix;

	li {
		display: block;
		float: left;

		&.previous {
			padding-right: padding(0.5);
		}
	}

	.previous:not(:empty) + .future:not(:empty) {
		padding-left: padding(0.5);
		border-left: 1px solid #000;
	}
}

// Circley menu
.circley-menu {
	@include pad();
	@include clearfix;

	li {
		margin-bottom: padding(1);

		a {
			display: block;
			position: relative;

			&:before {
				content: "";
				background: {
					repeat: no-repeat;
					size: 65%;
					position: center;
					color: $light-gray-blue;
				}
				border-radius: 50%;
			}

			&.journal:before {
				background-image: url(../images/journal-icon.png);
			}

			&.pastime:before {
				background-image: url(../images/pastime-icon.png);
			}

			&.portfolio:before {
				background-image: url(../images/portfolio-icon.png);
			}

			&.about:before {
				background-image: url(../images/about-icon.png);
			}
		}
	}
}

@mixin external-links-icon($icon-size: 32) {
	a {
		span {
			@include offscreen;
		}

		&.fb {
			@include icon(1, $icon-size);
		}

		&.flickr {
			@include icon(2, $icon-size);
		}

		&.twitter {
			@include icon(3, $icon-size);
		}

		&.github {
			@include icon(4, $icon-size);
		}

		&.pinterest {
			@include icon(5, $icon-size);
		}

		&.instagram {
			@include icon(6, $icon-size);
		}
	}
}

// Cute footer
.cute-footer {
	position: relative;
	width: 100%;
	background: {
		image: url(../images/copyright.png);
		repeat: no-repeat;
		size: contain;
	}

	&:before {
		content: '';
		display: block;
		padding-bottom: 93 / 420 * 100%;
	}

	span {
		position: absolute;
		left: 35%;
		top: 10%;
	}
}