/** Helpers */

@import "unsemantic/unsemantic-vars";


@function padding($n) {
	@return $n * $gutter-half;
}

@mixin font-size($n) {
	font-size: $n * 100%;
}

@mixin fluid-square($n, $display: block) {
	display: $display;
	width: $n;
	height: 0;
	padding-bottom: $n;
}

@mixin offscreen {
	position: absolute;
	left: -9999em;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

@mixin equal-heights($padding-bottom: 0) {
	padding-bottom: 9999px + $padding-bottom;
	margin-bottom: -9999px;
}