/** Helpers */

@import "neat/settings/grid";


@function padding($n) {
	@return $n * $gutter;
}

@mixin font-size($n) {
	font-size: $n * 1em;
}

@mixin fluid-square($n, $display: block) {
	display: $display;
	width: $n;
	height: 0;
	padding-bottom: $n;
}

@mixin offscreen {
	position: absolute;
	left: -9999em;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

@mixin equal-heights($padding-bottom: 0) {
	padding-bottom: 9999em + $padding-bottom;
	margin-bottom: -9999em;
}

@mixin sans-serif {
	font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
}

@mixin icon($index, $columns, $sprite-file) {
	background-image: $sprite-file;
	background-size: $columns * 100%;
	-ms-behavior: url(../backgroundsize.min.htc);

	// Position background-image based on number of icons in sprite */
	background-position: #{(100/($columns - 1)*($index - 1))}% 0;

	content: "";
}

@mixin menu-icon($index, $size) {
	&:before {
		@include icon($index, 4, url(../images/menu-icons.png));
		width: $size;
		height: $size;
	}
}

@mixin circley-icon($index) {
	i {
		background-color: $light-gray-blue;
		border-radius: 50%;
		position: relative;

		&:before {
			@include icon($index, 4, url(../images/menu-icons.png));
			@include fluid-square(65%);
			position: absolute;
			top: 17.5%;
			left: 17.5%;
		}
	}
}

@mixin external-link-icon($index, $size) {
	width: $size;
	height: $size;
	display: inline-block;
	line-height: $size;
	vertical-align: middle;
	position: relative;
	overflow: hidden;

	.sprite {
		width: auto;
		height: 100%;
		position: absolute;
		left: -1 * ($index - 1) * 100%;
	}

}