/** Layout */

@import "helpers";


/** Grid */

.grid-parent {
	@include row();
}

.grid-100 {
	@include pad();
	@include span-columns(12);
}

.grid-container {
	@include outer-container;
}

/** Spacing */
.mar-bot_0 {
	margin-bottom: 0;
}

.mar-bot_1 {
	margin-bottom: padding(1);
}

.mar-bot_2 {
	margin-bottom: padding(2);
}

.mar-bot_3 {
	margin-bottom: padding(3);
}

/** Text tweaks */

.text-centered {
	text-align: center;
}

/** Offscreen */
.screen-reader-text {
	@include offscreen();
}

/** Sticky */
.sticky {
	position: fixed;
}

/** Reseted lists */
@mixin reset-list {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	list-style: none;

	li {
		display: list-item;
		border: 0;
		margin: 0;
		padding: 0;
	}
}

.reset-list {
	@include reset-list;
}