/** The packaging */

$unsemantic-ie7-support: false;

@import "normalize";
@import "unsemantic/unsemantic-ie-snap";
@import "unsemantic/unsemantic-grid-responsive-tablet";

@import "unsemantic/unsemantic-vars";
@include unsemantic-grid-placeholders;

@import "bourbon/bourbon";

@import "typography";
@import "helpers";
@import "layout";
@import "colors";


/** Dealing with FOUT and web fonts */

html,
.wf-loading {
	visibility: hidden;
	opacity: 0;
	@include transition(all 0.3s);
}
.wf-active,
.wf-inactive {
	opacity: 1;
	visibility: visible;
}

a {
	color: $mid-blue;

	&:visited {
		color: $dark-gray-blue;
	}

	&:hover,
	&:focus {
		color: $light-blue;
	}

}

.wrapper {
	@extend %grid-container;

	.main-content {
		@extend %grid-columns-all;
	}
}

.chunk {
	margin-bottom: padding(4);

	.date {
		font-style: italic;
	}
}

.pagination {
	padding-top: padding(5);
}