/** The packaging */

$unsemantic-ie7-support: false;

@import "normalize";

@import "bourbon/bourbon";
@import "neat/neat";

@import "typography";
@import "helpers";
@import "layout";
@import "colors";


html,
body {
	height: 100%;
}

html {
	background: $off-white;
}

/** Dealing with FOUT and web fonts */
.wf-loading {
	visibility: hidden;
	opacity: 0;
}
.wf-active,
.wf-inactive {
	@include transition(all 0.3s);
	opacity: 1;
	visibility: visible;
}

a {
	color: $mid-blue;

	&:visited {
		color: $dark-gray-blue;
	}

	&:hover,
	&:focus {
		color: $light-blue;
	}

}

.wrapper {
	@include outer-container;

	.main-content {
		@include pad();
	}
}

.chunk {
	margin-bottom: padding(2);

	.post-title {
		margin-bottom: 0;
	}

	.date {
		font-style: italic;
	}
}

.chunk-img {
	float: left;
	display: block;
	margin: 0 padding(0.5) padding(0.5) 0;
}

.avatar {
	border-radius: 50%;
}

.image-404 {
	display: block;
	margin: 0 auto;
}


/** For the Social plugin */
#social {
	background: transparent !important;

	.comment-reply-title {
		font-weight: bold;
	}
}
