/** The packaging */

$unsemantic-ie7-support: false;
$media-mobile-max: 767px;
$media-desktop-min: 768px;

@import "sass/unsemantic/assets/sass/partials/reset";
@import "sass/unsemantic/assets/sass/partials/unsemantic-ie-snap";
@import "sass/unsemantic/assets/sass/partials/unsemantic-grid-responsive-tablet";

@import "unsemantic/assets/sass/partials/unsemantic-vars";
@include unsemantic-grid-placeholders;

@import "sass/bourbon/bourbon";

@import "sass/typography";
@import "sass/helpers";
@import "sass/layout";
@import "sass/colors";

html {
  min-height: 100%;
}

body {
  @include linear-gradient(90deg, #fff 50%, $light-gray-blue 50.1%);
}

a {
	color: $mid-blue;

  &:visited {
    color: $dark-gray-blue;
  }

	&:hover,
  &:focus {
		color: $light-blue;
	}

}