/**
 * Typography
 */

@import "colors";
@import "helpers";


body {
	font-family: 'Merriweather', 'Times New Roman', serif;
	line-height: 1.5;
	color: #444;

	&.mobile {
		-webkit-text-size-adjust: 100%;
		font-size: 2em;
	}
}

h1,
h2,
h3,
h4 {
	@include sans-serif;
	margin-top: 0;
	margin-bottom: padding(0.5);
}

h1 {
	@include font-size(3);
}

h2 {
	@include font-size(2);
}

h3 {
	@include font-size(1.5);
}

h4 {
	@include font-size(1.25);
}

p {
	margin-top: 0;
}

.sans-serif {
	@include sans-serif;
}