/** Desktop and tablet CSS for the entire site except the frontpage */

@import "main_pkg";
@import "components";


.wrapper {
	// Contain the equal-columns hack
	overflow: hidden;
	min-height: 100%;

	.main-content,
	.sidebar {
		@include equal-heights($padding-bottom: padding(1));
	}

	.main-content {
		@include span-columns(8);
		background: #fff;
	}

	.sidebar {
		@include span-columns(4);
		padding-left: padding(1);
		padding-right: padding(1);
		@include linear-gradient(90deg, #f0f0f0 20%, #fff);
		position: relative;

		footer {
			bottom: padding(1);

			.cute-footer {
				width: 300px;
			}
		}

		.sub-menu {
			@include reset-list;
			margin-left: padding(1);
		}
	}
}

.chunk {
	@include clearfix;

	.chunk-img {
		float: left;
		display: block;
		margin: 0 padding(1) padding(1) 0;
	}
}