/** Desktop and tablet CSS for the entire site except the frontpage */

@import "main_pkg";
@import "components";


.wrapper {
	// Contain the equal-columns hack
	overflow: hidden;
	min-height: 100%;

	.main-content,
	.sidebar {
		@include equal-heights($padding-bottom: padding(2));
		padding-top: padding(2);
	}

	.main-content {
		@extend %grid-66;
		background: #fff;
	}

	.sidebar {
		@extend %grid-columns-all;
		@extend %grid-33;
		@include linear-gradient(90deg, #f0f0f0 20%, #fff);
		position: relative;

		footer {
			bottom: padding(2);

			.cute-footer {
				width: 300px;
			}
		}

		.sub-menu {
			@include reset-list;
			margin-left: padding(2);
		}
	}
}

.chunk {
	@extend %clearfix;

	.chunk-img {
		float: left;
		display: block;
		margin: 0 padding(1) padding(1) 0;
	}
}