/** Desktop and tablet CSS for the entire site except the frontpage */

@import "main_pkg";


.wrapper {
	@extend %grid-container;
	height: 100%;

	.main-content,
	.sidebar {
		@extend %grid-columns-all;
		height: 100%;
	}

	.main-content {
		@extend %grid-66;
		background: #fff;
	}

	.sidebar {
		@extend %grid-33;
		@include linear-gradient(90deg, #f0f0f0 20%, #fff);
		padding-left: padding(2);
		position: relative;

		footer {
			position: fixed;
			bottom: padding(2);
			min-height: 72px;
			width: 300px;
			background: {
				image: url(../images/copyright.png);
				repeat: no-repeat;
				size: contain;
			}

			span {
				position: relative;
				left: 105px;
				top: 15px;
			}
		}

		.sub-menu {
			margin-left: padding(2);
		}
	}
}
