/** Main CSS for the entire site except the frontpage */

@import "main_pkg";


body.desktop,
body.tablet {
	@include linear-gradient(90deg, #fff 50%, $light-gray-blue 50.1%);
}

.wrapper {
	@extend %grid-container;

	.main-content {
		@extend %grid-columns-all;
	}
}

.desktop .wrapper,
.tablet .wrapper {
	height: 100%;

	.main-content,
	.sidebar {
		height: 100%;
	}

	.main-content {
		@extend %grid-66;
		background: #fff;
	}

	.sidebar {
		@extend %grid-columns-all;
		@extend %grid-33;
		background: $light-gray-blue;
		padding-left: padding(2);
		position: relative;

		footer {
			position: fixed;
			bottom: 0;
		}

		.sub-menu {
			margin-left: padding(2);
		}
	}
}

.mobile {
	.mobile-header {
		background: $light-gray-blue;
		position: fixed;
		top: 0;
	}

	.wrapper {
		.main-content {
			@extend %grid-100;
		}

		.main-content {
			padding-top: 2.5 * 1.35 + em;
		}
	}

	footer {
		@extend %grid-columns-all;
		@extend %grid-100;
	}
}