/** Mobile stylesheet for the whole site except front page */

@import "main_pkg";
@import "components";


.main-content {
	@extend %grid-100;
}

.circley-menu li {
	@extend %grid-100;
	text-align: left;

	a {
		&:before {
			@include fluid-square(25%, inline-block);
			vertical-align: middle;
		}

		span {
			@include font-size(1.5);
			display: inline-block;
			vertical-align: middle;
			margin-left: padding(3);
			text-decoration: underline;
		}
	}
}

footer {
	margin-bottom: padding(5);
}

.cute-footer {
	@include font-size(1.5);

	p {
		top: 13%;
	}
}