/** Mobile stylesheet for the whole site except front page */

@import "main_pkg";
@import "components";


.main-content {
	.pagination {
		margin-bottom: padding(2);
	}
}

.circley-menu {
	li {
		text-align: left;

		a {
			&:before {
				@include fluid-square(25%, inline-block);
				vertical-align: middle;
			}

			span {
				@include font-size(1.5);
				display: inline-block;
				vertical-align: middle;
				margin-left: padding(1);
				text-decoration: underline;
			}
		}
	}
}

.external-links {
	@include pad();
	@include external-links-icon(128);

	a {
		margin-right: padding(0.5);
	}
}

footer {
	margin-bottom: padding(1);
}

.cute-footer {
	@include font-size(1.5);

	span {
		top: 13%;
	}
}